.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.ServicesWrapper {
  margin: 2rem 0;
  padding: 2rem 0;
}
.img {
  width: 220px;
}
@media screen and (max-width: 480px) {
  .services {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .ServicesWrapper {
    margin: 0 auto;
    padding: 1rem 0;
    box-shadow: 1px 4px 6px -4px gray;
    border-radius: 15px;
    background-color: #c5894014;
    /* ${theme.bg} */
  }
  .img {
    width: 280px;
  }
}
